
/* App.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Forces the root element (where React mounts) to fill the screen */
#root {
  height: 100%;
  width: 100%;
}

.category-cards-section{
  display: flex;
  gap: 20px;
  flex-direction: column;
}